#hero {
  width: 100%;
  height: 70vh;
  background: url("../img/primarentcar/img1.png") center center;
  background-size: cover;
  position: relative;
  margin-top: 70px;
  padding: 0;
}
#hero:before {
  content: "";
  background: rgba(56, 64, 70, 0.7);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
p {
  font-family: "OpenSauceOneRegular", sans-serif;
  font-weight: 400;
  color: rgba(49, 53, 59, 0.68);
  size: 20px;
  line-height: 32px;
  text-align: justify;
}
.img-about {
  height: 100%;
}
@media (max-width: 1020px) {
  h3#tentang {
    text-align: center;
  }
}

@media (max-width: 500px) {
  body {
    min-width: fit-content;
    box-sizing: border-box;
  }
  .cta p {
    text-align: center;
  }
  .navbar {
    margin-right: 3vw;
  }
}
.portfolio .portfolio-wrap img {
  height: 300px;
  width: 500px;
}
.portfolio .portfolio-wrap .portfolio-info p {
  text-align: center;
}
.btn-wa-cta {
  padding-left: 5px;
}

.whatsapp-btn {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 70px;
  z-index: 996;
  background: #00a859;
  width: 40px;
  height: 40px;
  border-radius: 19px;
  transition: all 0.4s;
}

.whatsapp-btn i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.whatsapp-btn:hover {
  background: #00a859;
  color: #fff;
}

.whatsapp-btn.active {
  visibility: visible;
  opacity: 1;
}

.close {
  background: none;
  border: 0;
}
.close span {
  font-size: 28px;
}
